@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;

  --color-background: #050505;
  --color-surface: #0f0f0f;
  --color-primary: #d4af37;
  --color-primary-hover: #b5952f;
  --color-white-muted: rgba(255, 255, 255, 0.6);

  --animate-fade-in: fade-in 0.5s ease-out;
  --animate-zoom-in: zoom-in 0.5s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes zoom-in {
    from {
      transform: scale(0.95);
      opacity: 0;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}

/* Base Styles */
body {
  background-color: var(--color-background);
  color: #e2e8f0;
  /* slate-200 */
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

/* Elegant Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}